.main-container {
  width: 100vw;
  height: 100vh;
  padding-left: 10rem;
}
.content-container {
  padding-top: 5rem;
  width: 50%;
  padding-right: 3.5rem;
}

.image-container {
  width: 60%;
  height: 100%;
  opacity: 0.40;
  background-image: url("../images/background-large.jpg");
  background-size: cover;
  background-position: right;
}

.headline {
  margin-bottom: 1.5rem;
}

.sub-headline {
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

.brand {
  font-weight: 700;
  color: #e15f56;
  margin-bottom: 4rem;
  font-size: 1.35rem;
}
