.reviews-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #a42f2f;
  border-top-color: #131322;
  animation: spinner 0.6s linear infinite;
}
.overall-rating {
  font-size: 3.5rem;
}

.rating-description {
  font-size: 1.15rem;
  font-weight: 700;
}

.review {
  margin: 2rem 0;
  width: 45rem;
  max-width: 75%;
}

.review-body {
  margin: 0.35rem 0;
  line-height: 1.5rem;
}

.review-author {
  font-weight: 600;
  font-size: 1rem;
}

.review-date {
  font-style: italic;
}

.sorting-button {
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  color: #a42f2f;
  border: 1px solid #a42f2f;
  background-color: transparent;
  border-radius: 2rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.sorting-button.active {
  background-color: #a42f2f;
  color: #bbbbbb;
}

:hover.sorting-button {
  background-color: #a42f2f;
  color: #bbbbbb;
  cursor: pointer;
}

.button-group {
  margin: 3rem 0;
  width: 45rem;
  max-width: 75%;
}

@media (min-width: 1550px) {
  .rating-description {
    margin-top: 2rem;
  }
}
